h1{
    font-family: monospace;
    font: size 120px;
    color:greenyellow;
    background-color:green;
    mix-blend-mode:difference;
position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
h2{
    font-family:cursive;
    font: size 10px;
    color:greenyellow;
    background-color:green;
    mix-blend-mode:multiply;
    position: relative;
  animation: myfirst 2s infinite;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
}
p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: size 20;
    color:white;
    background-color:green;
    stroke-width: 20px;
    font-stretch:extra-condensed;
    position:relative;
  animation: myfirst 10s infinite;
  animation-direction: alternate;

@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
}

}
div{
    color:red;
    background-color:black
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 42;
    color:greenyellow;
    background-color:green;
    mix-blend-mode:difference;
position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 400px;} 
}
    
h4{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: size 30;
    color:greenyellow;
    background-color:green;
    mix-blend-mode:difference;
position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 400px;}
}